<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/style.css" />
    <title>Groupie-tracker</title>
  </head>
  <body>
    <div>
      <img src="{{.Image}}" />

      <h2>Name</h2>
      <div class="card__label">{{.Name}}</div>
      <h2>Creation Date</h2>
      <p>{{.CreationDate}}</p>

      <h2>Concerts Timeline</h2>
      <ul>
        {{range $key, $val := .RelationPerArtist}}
        <li>{{$key}} - {{$val}}</li>
        {{end}}
      </ul>
    </div>

    <h2>Members</h2>
    <ul>
      {{range .Members}}
      <li>{{.}}</li>
      {{end}}
    </ul>

    <br />
  </body>
</html>
